<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers">

<f:section name="Form">
	<s:searchForm id="tx-solr-search-form-pi-results" additionalFilters="{additionalFilters}">
		<input type="hidden" name="L" value="{languageUid}" />
		<input type="hidden" name="id" value="{pageUid}" />
		<div class="nav-search">
			<input type="text" class="tx-solr-q js-solr-q header-middle__search-input" name="{pluginNamespace}[q]" value="{q}" placeholder="{s:translate(key:'suche',default:'Suche')}" data-search="searchSuggest" /><i class="srch-btn">
			<input type="submit"></i>
		</div>
	</s:searchForm>
	<s:debug.query />
</f:section>